*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.containerheader{
    text-align: center;
    padding: 30px 0;
}

h1{
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}

.postContainer{
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

textarea,
input{
    color: white;
    padding: 10px;
}

button{
    color: white;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
    background-color: brown;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    margin: 10px 0;
}

input,textarea{
    background-color: rgb(48, 49, 48);
}

.inputCheck{
    margin-left: 10px;
    width: 50px;
}

